
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;1,400&display=swap');

@font-face {
  font-family: 'ROM';
  src:
    url('../fonts/ABCROM-Regular-Trial.woff2') format('woff2');
    font-weight: Regular;
}

@font-face {
  font-family: 'ROM';
  src:
    url('../fonts/ABCROM-Light-Trial.woff2') format('woff2');
    font-weight: Light;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.label{
  color: rgb(44, 44, 44);
}


@media (max-width: 1160px) {


body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 18fr 5.85fr;
  grid-auto-columns: minmax(1000px, auto);
  /* grid-template-rows: 20fr 0.05fr; */
  grid-template-areas:
    'main side'
    'main footer';
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03rem;
  word-spacing: 0.03rem;
  font-size: 0.8rem; 
  line-height: 1.07rem;
  background-color: #F6F6F6;
    overflow-y: hidden;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


#resume{
  color: #6d6d6d;
}

#email{
  color:#565656
}


.image-count-container {
  display: none;
}

.cursor-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 5;
  background: transparent;
  mix-blend-mode: difference;
}

.cursor-overlay.left {
  left: 0;
  cursor: url('../images/previous_white.svg') 37 12, auto;

}

.cursor-overlay.right {
  right: 0;
  cursor: url('../images/next_white.svg') 37 12, auto;
}



#slideshow {
  width: 100%;
  height: 100vh;
  /* margin: 50; */
  overflow: hidden;
  position: relative;
}

.project {
  display: none; /* Hide all projects initially */
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


img {
  transition: opacity 0.5s;
}



.project figure {
  position: relative; /* Set to relative for absolute positioning of children */
  /* text-align: center; */
  /* margin: 0; */
  width: 100%;
  height: 100vh;
  margin:0;
}

.project img {
  height: 100vh;
  width: 100%; /* Ensures the image can scale properly */
  object-fit: cover; /* Default setting, JavaScript will override if needed */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 1.3s ease-in-out;

  animation-name: fade;
  animation-duration: 0.25s;

}

.portrait img{
  object-fit:contain;
  position: absolute;
  top: 52%; /* Position halfway down the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  max-height: 90%;
}

.landscape img{

  object-fit:contain;
  position: absolute;
  top: 52%; /* Position halfway down the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 97%;

}

.project img.fit {
  object-fit: contain !important; /* Ensures the whole image is visible */
  width: 100% !important; /* Adjust as needed */
  height: 100vh !important; /* Adjust as needed */
  object-position: center !important; /* Align the image nicely in its container */
}

.project iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 65%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project21 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 98%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project5 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 98%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project8 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 108%; /* Full width of the parent */
  min-height: 100%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project9 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 100%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project12 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 51.5%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 88%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project23 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 100%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project28 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 96%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project35 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 96%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

.fullscreen{
  min-height: 100%; /* Full height of the parent */
  position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;
}


a:visited{
  color: #F6F6F6;
}


.dark figcaption{
  color: black;
}
.grey figcaption{
  color: #7e7e7e;
}

.yellow{
  background-color: rgb(192, 194, 171);
  /* background-color: #C5D0B5; */
}

.lightyellow{
  /* background-color: rgb(46, 55, 63); */
  /* background-color: rgb(61, 63, 46); */
  background-color: #352011;
  /* background-color: #C5D0B5; */
}

.blue{
  background-color: rgb(182, 229, 255);
}

.darkblue{
  background-color: rgb(21, 34, 42);
}

.pale{
  background-color: rgb(177, 145, 64);

}

.black{
  background-color: black;
}

.syss{
  background-color: rgb(240, 240, 240);

}

.veryyellow{
  background-color: rgb(248, 215, 72);

}

.green{
  background-color: rgb(177, 178, 177);

}



figcaption {
  position: absolute; /* Absolute position */
  left: 8px;
  padding-top: 8px;
  top:8px;
  width: 88%;
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 8px;
  color: white; /* Text color */
  opacity: 1;
  transition: opacity 1.3s ease, color 0.8s ease;
  z-index: 99;
  border-radius: 8px;
}


strong{
  font-weight: 400;
  font-size:0.72rem;
  /* font-family: monospace; */
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  border-radius: 24px;
  padding: 2px 6px 2px 6px;
  margin-right: 1px;
  margin-left: 3px;
  opacity: 0.75;
}

strong.bl{
  color: #1e1e1e;
  background-color: rgba(116, 116, 116, 0.25);
}

.credit{
  display: none;
  position: absolute;
  left: 20px;
  bottom:20px;
  z-index: 99;
  line-height: 2em;
}


.blur {
  filter: blur(3em);
  transition: filter 1.3s ease-in-out;
}


#imageCountDisplay {
  position: absolute;
  top: 16px;
  margin-right:20px;
  right: 0;
  /* font-size: 0.87rem;  */
  color: white;
  z-index: 10;
}

#nextimage{
  position: absolute;
  bottom: 16px;
  margin-right:20px;
  right: 0;

  /* left: 50%; */
  /* transform: translateX(-50%); */
  color: white;
  z-index: 10;
}


aside {
  grid-area: side;
  display: flex;
  flex-direction: column;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 300px;

}

aside a {
  color:rgb(202, 173, 55);
}


.intro, .index {
  position: sticky; /* or 'fixed' depending on your layout */
  top: 0; /* Adjust as needed */
  z-index: 10; /* Ensures these sections stay above other content */
}

.list {
  max-height: calc(100vh - /* height of intro and index */);
  overflow-y: scroll; /* Enables vertical scrolling */
}


.intro {
  /* background: red; */
  padding-bottom: 2vh;
  border-bottom: 0.1rem solid;
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 16px;
}

h2 {
  /* font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600; */
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8rem; 
  display: inline;
}

.index {
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 12px;
  /* height:10vh; */
  /* background: pink; */
  border-bottom: 0.1rem solid;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 4vh;
}

.label, .CTA {
  width: 50%;
  align-items: baseline;
  padding-bottom: 12px;
}

.CTA {
  /* font-size:0.54rem; */
  /* color: pink; */
  text-align: right;
}

.CTA button {
  font-size: 0.8rem;
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.CTA button:hover {
  background-color: #FE4814;
  color: white;
  transition: background-color 300ms;
}

ul {
  list-style: none;
  padding-left: 0;
  color: grey;
}

.category, .subjects {
  /* width: 50%; */
  min-width: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}


.subjects {
  padding-left: 20px;
  display: flex;
}

.list .tile {
  transition: background-color 0.5s ease, padding-left 0.7s ease;
}

.list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* margin-top: 12px; */
}

.list::-webkit-scrollbar {
  width: 0.52vw; /* Adjust the width of the scrollbar */

}

.list::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #c2dffa; 
}

.list::-webkit-scrollbar-thumb {
  /* background: #b4b3a3;  */
  background: #FE4814;
  /* background: #4f5a8a; */
  border-radius: 24px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #ffe600; /* Handle color on hover */
}



.tile {
  width: 100%;
  min-width: 150px;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: background-color 0.3s ease;
  color: black;
  border-bottom: dashed lightgray 0.75px;

}

.tile_category {
  font-size: 0.65rem;
  line-height: 1.24rem;
  color: black 0.8;
  font-weight: 400;
  padding-top: 4px;
}



.tile_title {
  /* border-top: 0.1rem red dotted; */
  line-height: 1.2rem;
}

.tile:hover {
  /* background: #D0FF71; green*/
  /* border-radius: 24px; */
  background: #ffe600;
  
}

.active {
  /* background: #efedbe; */
  background: #f8f8a0;
  /* background: #62fe14; */
  /* background: #FE4814; */
  /* background: #c2dffa; */
  color: black;
  padding-left: 36px;
}

.active:hover{
  /* color:black; */
  /* padding-left: 36px; */
}

.filtered {
  color: #d0d0d0;
}


.filterButton {
  background-color: #F6F6F6;
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 25px;
  /* this will make the buttons rounded */
  color: black;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: color 0.25s ease;
  margin-right: -0.25vw;
  margin-bottom: 4px;
  margin-left: 4px;
}

.items {
  width: 100%;
  margin-left: -0.3vw;
  align-items: center;
  line-height: 2rem;
}

.filterButton.active {
  /* background-color: #847E96; */
  background-color: rgb(47, 89, 255);
  color: white;
}

.filterButton.active:hover {
  /* background-color: #847E96; */
  background-color: rgb(88, 122, 255);
  color: white;
}



.filterButton:hover {
  background-color: #FFE600;
}

/* Add to your existing CSS */
#move_to_top {
  text-align: center; /* Center the text inside the tile */
  /* Add other styles as needed */
}



@keyframes fade {
  from { filter: grayscale(50%); }
  to { filter: grayscale(0%); }
}


}

@media (min-width:1160px) and (max-width:2000px) {

#resume{
  color: #6d6d6d;
}

#email{
  color:#565656
}


body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 18fr 5.85fr;
  grid-auto-columns: minmax(1000px, auto);
  /* grid-template-rows: 20fr 0.05fr; */
  grid-template-areas:
    'main side'
    'main footer';
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03rem;
  word-spacing: 0.03rem;
  font-size: 0.83rem; 
  line-height: 1.16rem;
  background-color: #F6F6F6;
    overflow-y: hidden;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}





.image-count-container {
  display: none;
}

.cursor-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 5;
  background: transparent;
  mix-blend-mode: difference;
}

.cursor-overlay.left {
  left: 0;
  cursor: url('../images/previous_white.svg') 37 12, auto;

}

.cursor-overlay.right {
  right: 0;
  cursor: url('../images/next_white.svg') 37 12, auto;
}



#slideshow {
  width: 100%;
  height: 100vh;
  /* margin: 50; */
  overflow: hidden;
  position: relative;
}

.project {
  display: none; /* Hide all projects initially */
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


img {
  transition: opacity 0.5s;
}



.project figure {
  position: relative; /* Set to relative for absolute positioning of children */
  /* text-align: center; */
  /* margin: 0; */
  width: 100%;
  height: 100vh;
  margin:0;
}

.project img {
  height: 100vh;
  width: 100%; /* Ensures the image can scale properly */
  object-fit: cover; /* Default setting, JavaScript will override if needed */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 1.3s ease-in-out;

  animation-name: fade;
  animation-duration: 0.25s;

}

.portrait img{
  object-fit:contain;
  position: absolute;
  top: 52%; /* Position halfway down the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  max-height: 90%;
}

.landscape img{

  object-fit:contain;
  position: absolute;
  top: 52%; /* Position halfway down the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 97%;

}

.project img.fit {
  object-fit: contain !important; /* Ensures the whole image is visible */
  width: 100% !important; /* Adjust as needed */
  height: 100vh !important; /* Adjust as needed */
  object-position: center !important; /* Align the image nicely in its container */
}

.project iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 65%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project21 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 98%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project5 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 98%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project8 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 108%; /* Full width of the parent */
  min-height: 100%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project9 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 100%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project12 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 51.5%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 88%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project23 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 100%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project28 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 96%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project35 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 96%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

.fullscreen{
  min-height: 100%; /* Full height of the parent */
  position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;
}


a:visited{
  color: #F6F6F6;
}


.dark figcaption{
  color: black;
}
.grey figcaption{
  color: #7e7e7e;
}

.yellow{
  background-color: rgb(192, 194, 171);
  /* background-color: #C5D0B5; */
}

.lightyellow{
  /* background-color: rgb(46, 55, 63); */
  /* background-color: rgb(61, 63, 46); */
  background-color: #352011;
  /* background-color: #C5D0B5; */
}

.blue{
  background-color: rgb(182, 229, 255);
}

.darkblue{
  background-color: rgb(21, 34, 42);
}

.pale{
  background-color: rgb(177, 145, 64);

}

.black{
  background-color: black;
}

.syss{
  background-color: rgb(240, 240, 240);

}

.veryyellow{
  background-color: rgb(248, 215, 72);

}

.green{
  background-color: rgb(177, 178, 177);

}



figcaption {
  position: absolute; /* Absolute position */
  left: 8px;
  padding-top: 8px;
  top:8px;
  width: 88%;
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 8px;
  color: white; /* Text color */
  opacity: 1;
  transition: opacity 1.3s ease, color 0.8s ease;
  z-index: 99;
  border-radius: 8px;
}


strong{
  font-weight: 400;
  font-size:0.72rem;
  /* font-family: monospace; */
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  border-radius: 24px;
  padding: 2px 6px 2px 6px;
  margin-right: 1px;
  margin-left: 3px;
  opacity: 0.75;
}

strong.bl{
  color: #1e1e1e;
  background-color: rgba(116, 116, 116, 0.25);
}

.credit{
  display: none;
  position: absolute;
  left: 20px;
  bottom:20px;
  z-index: 99;
  line-height: 2em;
}


.blur {
  filter: blur(3em);
  transition: filter 1.3s ease-in-out;
}


#imageCountDisplay {
  position: absolute;
  top: 16px;
  margin-right:20px;
  right: 0;
  /* font-size: 0.87rem;  */
  color: white;
  z-index: 10;
}

#nextimage{
  position: absolute;
  bottom: 16px;
  margin-right:20px;
  right: 0;

  /* left: 50%; */
  /* transform: translateX(-50%); */
  color: white;
  z-index: 10;
}


aside {
  grid-area: side;
  display: flex;
  flex-direction: column;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 300px;

}

aside a {
  color:rgb(202, 173, 55);
}


.intro, .index {
  position: sticky; /* or 'fixed' depending on your layout */
  top: 0; /* Adjust as needed */
  z-index: 10; /* Ensures these sections stay above other content */
}

.list {
  max-height: calc(100vh - /* height of intro and index */);
  overflow-y: scroll; /* Enables vertical scrolling */
}


.intro {
  /* background: red; */
  padding-bottom: 2vh;
  border-bottom: 0.1rem solid;
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 16px;
}

h2 {
  /* font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600; */
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.83rem; 
  display: inline;
}

.index {
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 12px;
  /* height:10vh; */
  /* background: pink; */
  border-bottom: 0.1rem solid;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 4vh;
}

.label, .CTA {
  width: 50%;
  align-items: baseline;
  padding-bottom: 12px;

}

.CTA {
  /* font-size:0.54rem; */
  /* color: pink; */
  text-align: right;
}

.CTA button {
  font-size: 0.8rem;
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.CTA button:hover {
  background-color: #FE4814;
  color: white;
  transition: background-color 300ms;
}

ul {
  list-style: none;
  padding-left: 0;
  color: grey;
}

.category, .subjects {
  /* width: 50%; */
  min-width: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}


.subjects {
  padding-left: 20px;
  display: flex;
}

.list .tile {
  transition: background-color 0.5s ease, padding-left 0.7s ease;
}

.list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* margin-top: 12px; */
}

.list::-webkit-scrollbar {
  width: 0.52vw; /* Adjust the width of the scrollbar */

}

.list::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #c2dffa; 
}

.list::-webkit-scrollbar-thumb {
  /* background: #b4b3a3;  */
  background: #FE4814;
  /* background: #4f5a8a; */
  border-radius: 24px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #ffe600; /* Handle color on hover */
}



.tile {
  width: 100%;
  min-width: 150px;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: background-color 0.3s ease;
  color: black;
  border-bottom: dashed lightgray 0.75px;

}

.tile_category {
  font-size: 0.65rem;
  line-height: 1.24rem;
  color: black 0.8;
  font-weight: 400;
  padding-top: 4px;
}



.tile_title {
  /* border-top: 0.1rem red dotted; */
  line-height: 1.2rem;
}

.tile:hover {
  /* background: #D0FF71; green*/
  /* border-radius: 24px; */
  background: #ffe600;
  
}

.active {
  /* background: #efedbe; */
  background: #f8f8a0;
  /* background: #62fe14; */
  /* background: #FE4814; */
  /* background: #c2dffa; */
  color: black;
  padding-left: 36px;
}

.active:hover{
  /* color:black; */
  /* padding-left: 36px; */
}

.filtered {
  color: #d0d0d0;
}


.filterButton {
  background-color: #F6F6F6;
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 25px;
  /* this will make the buttons rounded */
  color: black;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: color 0.25s ease;
  margin-right: -0.25vw;
  margin-bottom: 4px;
  margin-left: 4px;
}

.items {
  width: 100%;
  margin-left: -0.3vw;
  align-items: center;
  line-height: 2rem;
}

.filterButton.active {
  /* background-color: #847E96; */
  background-color: rgb(47, 89, 255);
  color: white;
}

.filterButton.active:hover {
  /* background-color: #847E96; */
  background-color: rgb(88, 122, 255);
  color: white;
}



.filterButton:hover {
  background-color: #FFE600;
}

/* Add to your existing CSS */
#move_to_top {
  text-align: center; /* Center the text inside the tile */
  /* Add other styles as needed */
}



@keyframes fade {
  from { filter: grayscale(50%); }
  to { filter: grayscale(0%); }
}


}


@media (min-width: 2000px) {



body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 20fr 5.95fr;
  grid-auto-columns: minmax(1000px, auto);
  /* grid-template-rows: 20fr 0.05fr; */
  grid-template-areas:
    'main side'
    'main footer';
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02rem;
  word-spacing: 0.02rem;
  font-size: 0.91rem; 
  line-height: 1.4rem;
  background-color: #F6F6F6;
    overflow-y: hidden;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#resume{
  color: #6d6d6d;
}

#email{
  color:#565656
}



.image-count-container {
  display: none;
}

.cursor-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 5;
  background: transparent;
  mix-blend-mode: difference;
}

.cursor-overlay.left {
  left: 0;
  cursor: url('../images/previous_white.svg') 37 12, auto;

}

.cursor-overlay.right {
  right: 0;
  cursor: url('../images/next_white.svg') 37 12, auto;
}



#slideshow {
  width: 100%;
  height: 100vh;
  /* margin: 50; */
  overflow: hidden;
  position: relative;
}

.project {
  display: none; /* Hide all projects initially */
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


img {
  transition: opacity 0.5s;
}



.project figure {
  position: relative; /* Set to relative for absolute positioning of children */
  /* text-align: center; */
  /* margin: 0; */
  width: 100%;
  height: 100vh;
  margin:0;
}

.project img {
  height: 100vh;
  width: 100%; /* Ensures the image can scale properly */
  object-fit: cover; /* Default setting, JavaScript will override if needed */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 1.3s ease-in-out;

  animation-name: fade;
  animation-duration: 0.25s;

}

.portrait img{
  object-fit:contain;
  position: absolute;
  top: 52%; /* Position halfway down the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  max-height: 90%;
}

.landscape img{

  object-fit:contain;
  position: absolute;
  top: 52%; /* Position halfway down the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 97%;

}

.project img.fit {
  object-fit: contain !important; /* Ensures the whole image is visible */
  width: 100% !important; /* Adjust as needed */
  height: 100vh !important; /* Adjust as needed */
  object-position: center !important; /* Align the image nicely in its container */
}

.project iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 65%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project21 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 98%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project5 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 98%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project8 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 108%; /* Full width of the parent */
  min-height: 100%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project9 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 100%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project12 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 51.5%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 100%; /* Full width of the parent */
  min-height: 88%; /* Full height of the parent */
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}


#project23 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 100%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project28 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 96%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

#project35 iframe {
  position: absolute; /* Absolute positioning within the figure */
  top: 50%; /* Position halfway down the parent */
  left: 50%; /* Position halfway across the parent */
  transform: translate(-50%, -50%); /* Center the iframe */
  width: 103%; /* Full width of the parent */
  min-height: 75%; /* Full height of the parent */
  max-width: 96%;
  pointer-events: none; /* Optional: disable mouse events */
  border: none; /* Remove border */
}

.fullscreen{
  min-height: 100%; /* Full height of the parent */
  position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;
}


a:visited{
  color: #F6F6F6;
}


.dark figcaption{
  color: black;
}
.grey figcaption{
  color: #7e7e7e;
}

.yellow{
  background-color: rgb(192, 194, 171);
  /* background-color: #C5D0B5; */
}

.lightyellow{
  /* background-color: rgb(46, 55, 63); */
  /* background-color: rgb(61, 63, 46); */
  background-color: #352011;
  /* background-color: #C5D0B5; */
}

.blue{
  background-color: rgb(182, 229, 255);
}

.darkblue{
  background-color: rgb(21, 34, 42);
}

.pale{
  background-color: rgb(177, 145, 64);

}

.black{
  background-color: black;
}

.syss{
  background-color: rgb(240, 240, 240);

}

.veryyellow{
  background-color: rgb(248, 215, 72);

}

.green{
  background-color: rgb(177, 178, 177);

}



figcaption {
  position: absolute; /* Absolute position */
  left: 8px;
  padding-top: 8px;
  top:8px;
  width: 88%;
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 8px;
  color: white; /* Text color */
  opacity: 1;
  transition: opacity 1.3s ease, color 0.8s ease;
  z-index: 99;
  border-radius: 8px;
}


strong{
  font-weight: 400;
  font-size:0.72rem;
  /* font-family: monospace; */
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  border-radius: 24px;
  padding: 2px 6px 2px 6px;
  margin-right: 1px;
  margin-left: 3px;
  opacity: 0.75;
}

strong.bl{
  color: #1e1e1e;
  background-color: rgba(116, 116, 116, 0.25);
}

.credit{
  display: none;
  position: absolute;
  left: 20px;
  bottom:20px;
  z-index: 99;
  line-height: 2em;
}


.blur {
  filter: blur(3em);
  transition: filter 1.3s ease-in-out;
}


#imageCountDisplay {
  position: absolute;
  top: 16px;
  margin-right:20px;
  right: 0;
  /* font-size: 0.87rem;  */
  color: white;
  z-index: 10;
}

#nextimage{
  position: absolute;
  bottom: 16px;
  margin-right:20px;
  right: 0;

  /* left: 50%; */
  /* transform: translateX(-50%); */
  color: white;
  z-index: 10;
}


aside {
  grid-area: side;
  display: flex;
  flex-direction: column;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 300px;

}

aside a {
  color:rgb(202, 173, 55);
}


.intro, .index {
  position: sticky; /* or 'fixed' depending on your layout */
  top: 0; /* Adjust as needed */
  z-index: 10; /* Ensures these sections stay above other content */
}

.list {
  max-height: calc(100vh - /* height of intro and index */);
  overflow-y: scroll; /* Enables vertical scrolling */
}


.intro {
  /* background: red; */
  padding-bottom: 2vh;
  border-bottom: 0.1rem solid;
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 16px;
}

h2 {
  /* font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600; */
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.91rem; 
  line-height: 1.4rem;
  display: inline;
}

.index {
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 12px;
  /* height:10vh; */
  /* background: pink; */
  border-bottom: 0.1rem solid;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 4vh;
}

.label, .CTA {
  width: 50%;
  align-items: baseline;
  padding-bottom: 12px;
}

.CTA {
  /* font-size:0.54rem; */
  /* color: pink; */
  text-align: right;
}

.CTA button {
  font-size: 0.8rem;
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.CTA button:hover {
  background-color: #FE4814;
  color: white;
  transition: background-color 300ms;
}

ul {
  list-style: none;
  padding-left: 0;
  color: grey;
}

.category, .subjects {
  /* width: 50%; */
  min-width: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}


.subjects {
  padding-left: 20px;
  display: flex;
}

.list .tile {
  transition: background-color 0.5s ease, padding-left 0.7s ease;
}

.list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* margin-top: 12px; */
}

.list::-webkit-scrollbar {
  width: 0.52vw; /* Adjust the width of the scrollbar */

}

.list::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #c2dffa; 
}

.list::-webkit-scrollbar-thumb {
  /* background: #b4b3a3;  */
  background: #FE4814;
  /* background: #4f5a8a; */
  border-radius: 24px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #ffe600; /* Handle color on hover */
}



.tile {
  width: 100%;
  min-width: 150px;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s ease;
  color: black;
  border-bottom: dashed lightgray 0.75px;

}

.tile_category {
  font-size: 0.7rem;
  line-height: 1.4rem;
  color: black 0.8;
  font-weight: 400;
  padding-top: 8px;
}



.tile_title {
  /* border-top: 0.1rem red dotted; */
  line-height: 1.2rem;
}

.tile:hover {
  /* background: #D0FF71; green*/
  /* border-radius: 24px; */
  background: #ffe600;
  
}

.active {
  /* background: #efedbe; */
  background: #f8f8a0;
  /* background: #62fe14; */
  /* background: #FE4814; */
  /* background: #c2dffa; */
  color: black;
  padding-left: 36px;
}

.active:hover{
  /* color:black; */
  /* padding-left: 36px; */
}

.filtered {
  color: #d0d0d0;
}


.filterButton {
  background-color: #F6F6F6;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 32px;
  /* this will make the buttons rounded */
  color: black;
  font-size: 0.82rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: color 0.25s ease;
  margin-right: -0.1vw;
  margin-bottom: 6px;
  margin-left: 4px;
}

.items {
  width: 100%;
  margin-left: -0.3vw;
  align-items: center;
  line-height: 2rem;
}

.filterButton.active {
  /* background-color: #847E96; */
  background-color: rgb(47, 89, 255);
  color: white;
}

.filterButton.active:hover {
  /* background-color: #847E96; */
  background-color: rgb(88, 122, 255);
  color: white;
}



.filterButton:hover {
  background-color: #FFE600;
}

/* Add to your existing CSS */
#move_to_top {
  text-align: center; /* Center the text inside the tile */
  /* Add other styles as needed */
}



@keyframes fade {
  from { filter: grayscale(50%); }
  to { filter: grayscale(0%); }
}

}





