@font-face {
  font-family: 'Overused Grotesk';
  src:
    url('../fonts/OverusedGrotesk-VF.woff2') format('woff2 supports variations'),
    url('../fonts/OverusedGrotesk-VF.woff2') format('woff2-variations');
  font-weight: 300 900;
}


@font-face {
  font-family: 'ROM';
  src:
    url('../fonts/ABCROM-Light-Trial.woff2') format('woff2');
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url("https://use.typekit.net/uyw3uyk.css");


@font-face {
  font-family: "ff-speak-web", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "menco", sans-serif;
  font-weight: 500;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.credit{
  padding: 14px;
  text-align: center;
}

#email{
  padding-top: 12px;
  font-family: 'ff-speak-web', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: rgb(4, 131, 31);
  padding-bottom: 6px;
  padding-left: 4vw;
}

#ig{
  font-family: 'ff-speak-web', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #3b70ff;
  padding-left: 14vw;
  padding-bottom: 6px;
}

#resume{
  font-family: 'ff-speak-web', sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-left: 30vw;
  color: #ff9a3b;
  padding-bottom: 6px;
  padding-bottom: 12px;
}

#disclaimer{
    font-family: 'ff-speak-web', sans-serif;
  font-weight: 400;
  font-size:16px;
  line-height: 18px;
  text-align: center;
  padding-bottom: 12px;

}

main, body{
  /* font-family: "menco", sans-serif;
  font-weight: 300; */

  /* font-family: 'ff-speak-web', sans-serif; */
  /* font-weight: 400; */
    /* letter-spacing: 0.1px; */
  /* word-spacing: 0.5px; */
  font-family: 'Overused Grotesk';
  font-weight: 500;
  letter-spacing: 0.5px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  overflow-x:hidden;
}


.intro{
  /* display: inline; */
  padding: 16px;
}

strong{
  
  font-size: 10px;
  font-weight: 700;
  /* font-family: monospace; */
  /* background-color: rgb(247, 247, 247); */
  color: rgb(231, 28, 10);
  border-radius: 24px;
  padding: 2px 6px 2px 6px;
  margin-right: 1px;
  margin-left: -1px;
  /* opacity: 0.5; */
}

.sort{
  padding: 14px 14px 0px 14px;
  margin-bottom: 5vh;
  display: none;
}

.sort button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 8px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 8px;
  font-size: 0.75em;

}

.sort button:hover,
.sort button:active { /* Targets buttons on hover and when clicked/active */
  background-color: #FE4814;
  color: white;
  transition: background-color 300ms;
}


#cover{
  display: none;
}

.project {
  width: 100%; /* Full width */
  padding-bottom: 24px;
  position: relative; /* Make the .project container relative */
  display: flex; /* Add this */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the flex container */
  height: auto; /* Adjust height to fit the content */

}

.project figure {
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: 100%;

}


.project img {
  width: 100%; 
  height: 76vw;
  object-fit: cover;
  display: block; 
  padding-left:14px;
  padding-right: 14px;
  /* border-radius: 8vw; */
  /* border-radius: 20px; */

}



.project iframe {
  width: 100%; /* Full width of the figure */
  height: 76vw; /* Maintain aspect ratio similar to images */
  object-fit: cover; /* Cover the area while preserving aspect ratio */
  border: none; /* Optionally remove the border */
}

/* left aligned
.project figure.portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72vw; 
  overflow: hidden; 
}

.project figure.portrait img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%; 
  height: auto;
  width: auto;
} */


.project figure.portrait {
 
}

.project figure.portrait img {
  object-fit: contain; /* Ensures image aspect ratio is maintained */
  padding: 16px;
}


.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Ensure it's above the iframe but below any clickable elements in your figure */
}



.project figcaption {
  width: 90%;
  color: black; /* Your style here */ /* Optional: styling for visibility */
  padding-left: 15px; /* Space inside the caption */
  margin-top: 12px;
  text-align: left; /* Align text to center */
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 15px;

}

/* Correct the typo in the selector */


/* New CSS for the image count container */
.image-count-container {
  position: absolute;
  top: calc(76vw + 12px);
  right: 12px;
  letter-spacing: 2px;
  text-align: right;
  font-size: 13px;
  line-height: 15px;

}

figcaption,
.image-count-container {
  display: inline-block;
  vertical-align: baseline;
}
