@font-face {
  font-family: 'Overused Grotesk';
  src:
    url('../fonts/OverusedGrotesk-VF.woff2') format('woff2 supports variations'),
    url('../fonts/OverusedGrotesk-VF.woff2') format('woff2-variations');
  font-weight: 300 900;
}


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main, body{
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.25px;
  /* word-spacing: 0.5px; */
  font-size: 14px;
  line-height: 16px;
  overflow-x:hidden;
}

h2 {
  /* font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600; */
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  display: inline;
}

.intro{
  padding: 14px 14px 0px 14px;
  margin-bottom: 5vh;

}

.sort{
  padding: 14px 14px 0px 14px;

  margin-bottom: 5vh;;
}

.sort button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 8px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 8px;
  font-size: 0.75em;

}

.sort button:hover,
.sort button:active { /* Targets buttons on hover and when clicked/active */
  background-color: #FE4814;
  color: white;
  transition: background-color 300ms;
}



.project {
  width: 100%; /* Full width */
  padding-bottom: 56px;
  position: relative; /* Make the .project container relative */
  display: flex; /* Add this */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the flex container */

}

.project figure {
  position: relative;
  height: auto; /* Adjust height to fit the content */
  transition: transform 0.3s ease-in-out;
  width: 100%;

}

.project img {
  width: 100%; /* Image fills the width of the figure */
  height: 120vw; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area while preserving aspect ratio */
  display: block; /* Remove any default inline spacing */
  padding-left:14px;
  padding-right: 14px;
}

.project figcaption {
  width: 85%;
  color: black; /* Your style here */ /* Optional: styling for visibility */
  padding-left: 14px; /* Space inside the caption */
  margin-top: 12px;
  text-align: left; /* Align text to center */

}

/* Correct the typo in the selector */
.project figure img {
  max-height: 70vh; /* Limit the image height */
  object-fit: cover; /* Adjusts the object-fit property */
}

/* New CSS for the image count container */
.image-count-container {
  position: absolute;
  top: calc(120vw + 12px);
  right: 12px;
  letter-spacing: 2px;
  text-align: right;

}

figcaption,
.image-count-container {
  display: inline-block;
  vertical-align: baseline;
}
