@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;1,400&display=swap');

* {
  box-sizing: border-box;
}

img {
  transition: opacity 0.5s;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 7.5fr 3fr;
  grid-auto-columns: minmax(1000px, auto);
  grid-template-rows: 20fr 0.05fr;
  grid-template-areas:
    'main side'
    'main footer';
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  font-size: 0.90rem;
  line-height: 1.2rem;
}

h2 {
  /* font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 600; */
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.90rem;
  line-height: 1.24rem;
  display: inline;
}

main {
  grid-area: main;
  height: calc(100%);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  display: flex;
  background: #F6F6F6;
  cursor: none;
}

main::-webkit-scrollbar {
  display: none;
}

#slideshow .show {
  opacity: 1;
}

#slideshow figure {
  cursor: none;
  position: relative;
  scroll-snap-align: start;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0px 0px 0px 4px;
  /* margin:0; */
  opacity: 1;
  display: block;
}

#slideshow figure a {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

#slideshow a iframe {
  width: 100vw;
  min-height: 60vh;
  pointer-events: none;
}

#slideshow a img, #slideshow a object {
  max-width: 71.5vw;
  min-height: 100vh;
  object-fit: cover;
}

#slideshow .fit {
  object-fit: contain;
}

/*
#project_8{
  background: grey;
} */
#slideshow a:focus-visible {
  outline: 0;
}

#slideshow a:before,
#slideshow a:after {
  z-index: 5;
  /* cover the current image <a> */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

#slideshow a:before {
  left: -50%;
}

#slideshow a:after {
  /* background: red; */
  right: -50%;
}

#slideshow :first-child a:before {
  left: calc(var(--slides-total) * 100% - 50%);
}

#slideshow :last-child a:after {
  right: calc(var(--slides-total) * 100% - 50%);
}

figcaption {
  position: absolute;
  /* bottom: 2vh; */
  top:0;
  width: 92%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 16px;
  color: white;
  /* background-color: rgba(0,0,0,0.5); */
  /* display: none; */
  transition: opacity 1.3s ease, color 0.8s ease;
  /* Adjust timing as needed */
  opacity: 1;
  /* Initial state hidden */
}

.image-count {
    position: absolute;
    top: 0; /* Adjust as needed */
    right:0;
    margin-top: 16px;
    margin-right: 20px;
    color: white; /* Example color */
    font-size: 0.9rem; /* Example font size */
    transition: opacity 1.3s ease, color 0.8s ease;
    opacity: 1;
    letter-spacing: .15rem;

}


aside {
  grid-area: side;
  display: flex;
  flex-direction: column;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.intro {
  /* background: red; */
  padding-bottom: 8vh;
  border-bottom: 0.1rem solid;
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 16px;
}

.index {
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 12px;
  /* height:10vh; */
  /* background: pink; */
  border-bottom: 0.1rem solid;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 4vh;
}

.label, .CTA {
  width: 50%;
  align-items: baseline;
  padding-bottom: 12px;
}

.CTA {
  /* font-size:0.54rem; */
  /* color: pink; */
  text-align: right;
}

.CTA button {
  font-size: 0.8rem;
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.CTA button:hover {
  background-color: #FE4814;
  color: white;
  transition: background-color 300ms;
}

ul {
  list-style: none;
  padding-left: 0;
  color: grey;
}

.category, .subjects {
  /* width: 50%; */
  min-width: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category {
  /* border-right: 0.1rem solid; */
}

.subjects {
  padding-left: 20px;
  display: flex;
}

.list .tile {
  transition: background-color 0.5s ease, border-radius 0.15s ease;
}

.list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* margin-top: 12px; */
}

.tile {
  width: 100%;
  min-width: 150px;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: background-color 0.3s ease;
  color: black;
  border-bottom: dashed lightgray 0.75px;
}

.tile_category {
  font-size: 0.60rem;
  line-height: 1.24rem;
  color: black 0.8;
  font-weight: 400;
  padding-top: 4px;
}

.tile_title {
  /* border-top: 0.1rem red dotted; */
  line-height: 1.2rem;
}

.tile:hover {
  /* background: #D0FF71; green*/
  /* border-radius: 24px; */
  background: #FFE600;
}

.active {
  background: blue;
  border-radius: 24px;
  color: white;
}

.filterButton {
  background-color: #F6F6F6;
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 25px;
  /* this will make the buttons rounded */
  color: black;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: color 0.25s ease;
  margin-right: -0.25vw;
  margin-bottom: 4px;
  margin-left: 4px;
}

.items {
  width: 100%;
  margin-left: -0.3vw;
  align-items: center;
}

.filterButton.active {
  /* background-color: #847E96; */
  background-color: #757086;
  color: white;
}

.filterButton:hover {
  background-color: #FFE600;
}

footer {
  grid-area: footer;

}
